<launch>
	<rosparam>
        nao_ip: "169.254.66.118"
        nao_port: 9559
    </rosparam>
    <node pkg="nao_dance" type="movement.py" name="movement"></node>
	<node pkg="nao_dance" type="recognition.py" name="recognition"></node>
	<!--<node pkg="nao_dance" type="recognition.py" name="recognition" args="$(find nao_dance)/res/demo1.avi"></node>-->
</launch>
